django==4.1.*
django-geostore
psycopg2
pillow
gunicorn
django-crispy-forms
django-autoslug
django-clearcache
crispy-bootstrap5
django-mapbox-baselayer
django-cors-headers
django-constance[database]
django-filter
elasticsearch
celery
redis
django-celery-results
django-celery-beat
sentry-sdk
django-polymorphic
fiona
pyexcel
python-decouple
git+https://gitlab.com/PaulFlorence/django-auth-oidc.git@fix_4#egg=django-auth-oidc
drf-jwt
drf-spectacular
drf-extra-fields
