django==4.1.*
django-grappelli
django-geostore
psycopg2
pillow
gunicorn
django-crispy-forms
django-autoslug
django-clearcache
django-clone
crispy-bootstrap5
django-mapbox-baselayer
django-cors-headers
django-constance[database]
django-filter
elasticsearch
celery
redis
django-celery-results
django-celery-beat
sentry-sdk
django-polymorphic
fiona
pyexcel
python-decouple
git+https://github.com/Terralego/django-auth-oidc.git@master#egg=django-auth-oidc
drf-jwt
drf-spectacular
drf-extra-fields
django-tinymce
