{% extends "base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}
    {% translate "Login to" %} {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <form method="post">
                <div class="card mt-5">
                    <img src="{{ INSTANCE_LOGO }}" class="card-img-top bg-secondary p-2" alt="logo">
                    <div class="card-body">
                        {% crispy form %}
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-primary" type="submit" value="{% trans "Log in" %}" />
                        <a href="{% url 'password_reset' %}" style="float: right;">{% trans "Reset password" %}</a>
                    </div>
                    {% if OIDC_ENABLED %}
                    <div class="card-footer text-center">
                        <a class="btn btn-secondary" href="/oidc/">{% trans "OIDC connect" %}</a>
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}