<img src="https://raw.githubusercontent.com/Terralego/TerraVisu/master/docs/source/_static/logo_color.png"
     style="display: block; margin: auto; max-width: 400px;">
<br/>
version {{ version }}
<br/>
<br/>
<b>&copy; 2017 - {{ year }} Makina Corpus / Autonomens</b>
<br/>
<br/>
<a href="https://github.com/Terralego/TerraVisu">
    <img src="https://shields.io/badge/GitHub-Code-black?logo=github&style=for-the-badge" />
</a>
<br/>
<a href="https://terravisu.readthedocs.io/en/{settings.VERSION}/">
    <img src="https://shields.io/badge/RTD-Documentation-blue?logo=readthedocs&style=for-the-badge />
</a>