version: "3.7"

x-images:
  django: &django
    image: ghcr.io/submarcos/terravisu
    user: ${UID:-1000}:${GID:-1000}
    env_file:
      - ./conf/visu.env
    volumes:
      - ./public:/opt/terra-visu/public
      - ./var:/opt/terra-visu/var


services:
  db:
    image: postgis/postgis:15-3.3
    env_file:
      - ./conf/visu.env
    volumes:
      - db:/var/lib/postgresql/data
      - ./conf/postgres.conf":/etc/postgresql/postgresql.conf

  redis:
    image: redis:7-alpine
    volumes:
      - redis:/data

  elasticsearch:
    hostname: elasticsearch
    image: elasticsearch:7.16.2
    environment:
      ES_JAVA_OPTS: ${ES_JAVA_OPTS:--Xms1g -Xmx1g}
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'curl --silent --fail localhost:9200/_cluster/health || exit 1',
        ]
      interval: 30s
      timeout: 30s
      retries: 3

    volumes:
      - ./conf/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - elasticsearch:/usr/share/elasticsearch/data/

  web:
    <<: [ *django ]
    depends_on:
      - db
      - redis

  celery:
    <<: [ *django ]
    command: celery -A project worker -c ${CELERY_WORKERS:-1} -l warning
    depends_on:
      - db
      - redis
      - web

  celery_beat:
    <<: [ *django ]
    command: celery -A project beat -l warning
    depends_on:
      - celery

  nginx:
    image: nginx:latest
    ports:
      - "${NGINX_PORT:-80}:80"
    depends_on:
      - web
      - elasticsearch
    volumes:
      - ./public:/var/www/
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf

volumes:
  db:
  redis:
  elasticsearch:
