name: Git flow

on:
  push:
    branches:
      - master

jobs:
  update-develop:
    name: Merge master into develop on every change
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT }}
      - name: merge
        uses: mtanzi/action-automerge@v1
        id: merge
        with:
          github_token: ${{ secrets.PAT }}
          source: 'master'
          target: 'develop'