name: Unit tests

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  backend:
    name: Python unit tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build image
        run: |
          cp db.env.dist db.env
          cp app.env.dist app.env
          echo $UID
          docker-compose build web

      - name: Check migration
        run: |
          docker-compose run --user root --rm web ./manage.py makemigrations --check

      - name: Tests
        run: |
          docker-compose run --user root --rm web coverage run ./manage.py test --settings=project.settings.tests

      - name: Prepare coverage report
        run: |
          docker-compose run --user root --rm web coverage xml

      - uses: codecov/codecov-action@v3
        with:
          flags: backend-unittests
          files: ./coverage.xml
